@import 'tailwindcss';
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Poiret+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap");

@tailwind utilities;

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@plugin "daisyui" {
  themes: all;
}

@theme {
  /* Her tilføjes theme variable // tokens */
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }


p {
  @apply text-xl mb-4;
}

h2 {
  @apply text-7xl md:text-8xl;
}



  /*Tobii mods*/
    .tobii-zoom{
      width: 100%;
  }
  .tobii__slide figure > img {
      padding-bottom: 50px;
  }

  /* iframe {
      max-width: 90%;
      margin: auto;
  } */

  .tobii {
      background-color: black;
  }
}

@layer components{

}
@layer utilities{
  
}