@import 'tailwindcss';
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Poiret+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap");

@tailwind utilities;

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@plugin "daisyui" {
  themes: all;
}

@theme {
  /* Custome colors */
  --color-red-400:#B7F6CD;
  --color-red-600:#D85527;
  --color-red-900:#ECE3CB;

/*Infinite scroll animation*/
--animate-infinite-scroll: infinite-scroll 25s linear infinite;  

@keyframes infinite-scroll {    
from { transform: translateX(0);}    
to { transform: translateX(-100%);}  
}

/* special hand cursor */
--handcursor: url(/cursor.svg) 25 25, pointer; 
}

/* Alle billede får en cursor på sig */
@layer base {
	img {
		@apply cursor-(--handcursor) rounded-2xl;
	}
	}


@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }


p {
  @apply text-xl mb-4;
}

h2 {
  @apply text-7xl md:text-8xl;
}



  /*Tobii mods*/
    .tobii-zoom{
      width: 100%;
  }
  .tobii__slide figure > img {
      padding-bottom: 50px;
  }

  /* iframe {
      max-width: 90%;
      margin: auto;
  } */

  .tobii {
      background-color: black;
  }
}

@layer components{

}
@layer utilities{
  
}